.ChatPage {
  background-color: #1c1c1c;
  color: white;
  font-family: "DM Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
}
.ChatPage .panel {
  display: flex;
  border-radius: 25px;
  width: max-content;
  padding: 5px 10px;
  margin: 20px auto;
  background-color: #494949;
  gap: 5px;
}
.ChatPage .panel .panelItem {
  margin: 0;
  padding: 5px 10px;
  border-radius: 25px;
  transition: 0.3s ease;
}
.ChatPage .panel .panelItem.selected {
  background-color: #2a2a2a;
}
.ChatPage .panel .panelItem:hover {
  background-color: #2a2a2a;
  cursor: pointer;
}
.ChatPage h1 {
  margin: auto;
}
.ChatPage .signOutBtn {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: fit-content;
  background-color: #ff4267;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  font-family: "DM Sans", sans-serif;
  transition: 0.3s ease;
}
.ChatPage .signOutBtn:hover {
  cursor: pointer;
  color: #ff4267;
  background-color: #1c1c1d;
  transform: scale(1.05);
  font-weight: bold;
}
.ChatPage .userListPanel {
  display: flex;
  flex-direction: column;
  margin: auto auto 20px;
  border-radius: 20px;
  padding: 10px 20px;
  width: 95%;
  max-width: 650px;
  color: greenyellow;
  font-size: 30px;
}
.ChatPage .userListPanel .addFriend {
  font-size: 20px;
  background-color: #d7d7d7;
  color: #1c1c1d;
  width: fit-content;
  margin: 5px auto;
  border-radius: 10px;
  padding: 5px 10px;
  transition: 0.3s ease;
}
.ChatPage .userListPanel .addFriend:hover {
  cursor: pointer;
  color: #d7d7d7;
  background-color: #1c1c1d;
  transform: scale(1.05);
  font-weight: bold;
}
.ChatPage .userListPanel .users {
  color: white;
  font-size: 16px;
  width: max-content;
  margin: 30px auto;
  overflow-y: scroll;
}
.ChatPage .userListPanel .users p {
  border: 1px solid #2f2f2f;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px auto;
  transition: 0.3s ease;
  border-bottom: 2px solid #2f2f2f;
}
.ChatPage .userListPanel .users p:hover {
  cursor: pointer;
  background-color: #343434;
  border-bottom: 2px solid greenyellow;
}
.ChatPage .tag {
  color: greenyellow;
  font-weight: bold;
}
.ChatPage .messageContainer {
  border: 1px solid #2f2f2f;
  border-radius: 20px;
  margin: auto;
  width: 95%;
  max-width: 650px;
  padding: 20px;
  position: relative;
  height: 83%;
}
.ChatPage .messageContainer .closeChat {
  display: block;
  width: fit-content;
  color: #39393c;
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 10px;
  font-size: 25px;
  transition: 0.3s ease;
}
.ChatPage .messageContainer .closeChat:hover {
  cursor: pointer;
  color: #474747;
}
.ChatPage .messageContainer .chattingWith {
  font-weight: bold;
  width: fit-content;
  margin: 0 auto 10px;
}
.ChatPage .messageContainer .messages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
  height: 88%;
  margin-bottom: 10px;
}
.ChatPage .messageContainer .message {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: flex-start;
  max-width: 70%;
  text-align: left;
}
.ChatPage .messageContainer .message.you {
  align-self: flex-end;
}
.ChatPage .messageContainer .message.you .content {
  background-color: dodgerblue;
}
.ChatPage .messageContainer .message.you .user {
  margin: 0;
}
.ChatPage .messageContainer .message .content {
  border-radius: 20px;
  padding: 8px 15px;
  background-color: blueviolet;
  margin: 0;
}
.ChatPage .messageContainer .message .user {
  margin: 0 0 5px 5px;
  font-size: 12px;
  color: #949494;
}
.ChatPage .messageContainer .message:last-child {
  margin-bottom: 30px;
}
.ChatPage .messageContainer .messageBox {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #3a3a3d;
  border: 1px solid #707070;
  border-radius: 10px;
  transition: 0.3s ease;
}
.ChatPage .messageContainer .messageBox:focus-within {
  border: 1px solid greenyellow;
}
.ChatPage .messageContainer .messageBox textarea {
  border-radius: 10px;
  resize: none;
  font-size: 16px;
  margin: auto;
  padding: 10px;
  font-family: "DM Sans", sans-serif;
  transition: 0.3s ease;
  width: 80%;
  background-color: #3a3a3d;
  color: white;
  border: none;
  caret-color: greenyellow;
}
.ChatPage .messageContainer .messageBox textarea::placeholder {
  color: #9b9b9b;
}
.ChatPage .messageContainer .messageBox textarea:focus {
  outline: none;
}
.ChatPage .messageContainer .messageBox .messageBtn {
  border-radius: 10px;
  background-color: greenyellow;
  font-size: 18px;
  padding: 2px 10px;
  margin-right: 10px;
  color: #1c1c1d;
  transition: 0.3s ease;
  opacity: 0;
}
.ChatPage .messageContainer .messageBox .messageBtn:hover {
  cursor: pointer;
  background-color: #3a3a3d;
  color: greenyellow;
}
.ChatPage .messageContainer .messageBox .messageBtn.visible {
  opacity: 100;
}

/*# sourceMappingURL=ChatPage.css.map */
